name: Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build-and-publish:
    name: Build and publish to PyPI
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v1
        with:
          version: "latest"

      - name: Sync environment (optional but recommended)
        run: uv sync --all-extras

      - name: Build the package
        run: |
          uv build
          
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
            generate_release_notes: true
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish to PyPI using trusted publisher
        run: |
          uv publish
